<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
        <div>
            <form action="#" th:action="@{/user/create/post}" th:object="${user}" method="post">
                <p>Name: <input type="text" th:field="*{name}"></p>
                <p>Age: <input type="text" th:field="*{age}"></p>
                <p>Password: <input type="text" th:field="*{password}"></p>
                <button type="submit">Create</button>
            </form>
        </div>
</body>
</html>